select {
  width:100%;
  padding:8px;
  margin-top:12px;
  border-radius:6px;
  border:1px solid #d1d5db;
  font-size:14px;
}

select:focus{
  border-color:#6fb3be;
}

.edit-btn{
  background:#f59e0b;
}

.edit-btn:hover{
  background:#d97706;
}
